<!DOCTYPE html>
<html>
    <head>
    	<title>facebook</title> <!-- this will be the name of the tab, not text on the page -->
        <!-- metadata about the HTML document as a whole -->
 
    </head>
 
    <body>
      <h1>THIS IS A WEBSITE I MADE WOOHOOO </h1>
      <% if 5==5 %>
        <%= "Hey I know math" %>
        <%end%>
    </body>
</html>